.filter-field {
  position: relative;
}
.filter-container {
  border-radius: 5px;
  padding: 5px;
  background-color: var(--primary-background-color);
  right: 5px;
  top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  width: 200px;
  height: 20vh;
}

.filter-container-header {
  text-transform: uppercase;
  font-weight: 600;
}
