:root {
  --primary-light-color: #2ecc71;
  --primary-dark-color: #27ae60;
  --primary-background-color: #e6e6e6;
}

button {
  padding: 5px 8px;
  text-transform: uppercase;
  background-color: var(--primary-light-color);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: var(--primary-dark-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}
