h2 {
  color: var(--primary-light-color);
  text-transform: uppercase;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    10deg,
    var(--primary-dark-color) 0%,
    var(--primary-light-color) 100%
  );
  padding: 10px;
}

.todo-card-container {
  width: 100%;
  max-width: 540px;
  min-height: 80vh;
  background: #fff;
  margin: 80px auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
}

.todo-sub-header {
  height: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.todo-sub-header-right {
  height: 30px;
  align-items: center;
  display: flex;
  gap: 16px;
}

.btn-cta {
  cursor: pointer;
}
.btn-cta:hover {
  color: var(--primary-light-color);
}

@media screen and (max-width: 540px) {
  .todo-sub-header {
    gap: 0;
    align-items: start;
    flex-direction: column-reverse;
  }
  .todo-sub-header-right {
    justify-content: space-between;
    width: 100%;
  }
}
